* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.menu {
  position: fixed;
  width: 100%;
  background: #031d36;
  padding: 20px 0;
  z-index: 10;
}

.menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  display: inline;
  transition: 0.5s;
}

.menu ul li a {
  color: #fff;
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  font-weight: 700;
  display: inline-block;
  transition: 0.5s;
}

.menu ul li a.active {
  border-bottom: 1px solid#e91e63;
}

.menu ul li:hover a {
  border-bottom: 1px solid#e91e63;
  cursor: pointer;
}

.section1,
.section2,
.section3,
.section4
 {
  min-height: 100vh;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #e91e63;
}

.section1 {
  background-image: url(/images/college-image.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section {
  position: relative;
  overflow: hidden;
}

.section1 .events {
  position: absolute;
  height: 100px;
  width: 80%;
  background: #3b0000;
  border-radius: 40px 40px 0px 0px;
  top: 90%;
  left: 10%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 32px;
}

.section1 .events h3 {
  margin-top: 20px;
}

.section1 h1 {
  font-family: cursive;
  color: #fff;
  font-size: 30px;
  /* margin-top: 15px; */
}

.section1 h1 span {
  color: #fff;
  font-size: 50px;
}

.marq {
  position: absolute;
  background: #ffbb00;
  margin-top: 100px;
  font-size: 20px;
  width: 100%;
  padding-top: 10px;
}

.logo {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: transparent;
  top: 155px;
  left: 340px;
  background-image: url(/images/logo.png);
  background-size: 140px 150px;
  background-repeat: no-repeat;
  background-position: 5px;
  z-index: 1;
}

.college-name {
  margin-top: -12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110%;
  height: 200px;
  font-size: 16px;
  background-color: #031d36;
  opacity: 0.9;
}

.college-name h1 span {
  text-transform: uppercase;
  margin-left: 0px;
}

.college-name h1 {
  font-size: 25px;
  margin-left: -110px;
  margin-top: -20px;
  font-family: sans-serif;
}

.college-name h2 {
  background: #ff00009a;
  color: #fff;
  font-size: 16px;
  padding: 5px 5px;
  margin-left: -105px;
  border: 1px solid #3b0000;
}

.college-name h3 {
  color: #fff;
  margin-left: -100px;
}

.college-name h3 span {
  margin-left: 55px;
  font-size: 17px;
}

.section2 {
  background-color: #000;
}

.section2 .tech{
  position: absolute;
  height: 100px;
  width: 80%;
  background: #3b0000;
  border-radius: 40px 40px 0px 0px;
  top: 90%;
  left: 10%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 32px;
}

.section2 h3{
  margin-top: 20px;
  font-size: 32;
}

.section2 .content {
  position: absolute;
  top: 25%;
  left: 24%;
  transform: translateY(-50px);
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

.section2 .event-title {
  position: absolute;
  height: 100px;
  width: 80%;
  background: #3b0000;
  border-radius: 40px 40px 0px 0px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  top: 225%;
  left: 0px;
}

.section2 .event-title h1 {
  font-size: 22px;
  margin-left: 2%;
  margin-top: 5%;
}

.section4 .contact{
  position: absolute;
  height: 100px;
  width: 80%;
  background: #3b0000;
  border-radius: 40px 40px 0px 0px;
  top: 90%;
  left: 10%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 32px;
}

.section4 h3{
  margin-top: 20px;
  font-size: 32;
}

.content h1 {
  padding: 10px;
  font-size: 64px;
  font-weight: 600;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  margin-left: -90px;
  margin-top: 60px;
}
.content p {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}
.content h1 span {
  color: #ff3753;
  font-family: "Lora", serif;
}

.launch-time {
  position: absolute;
  left: 90px;
  top: 290px;
  width: 450px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.launch-time::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 640px;
  background: #17f017;
  animation: animate 3s linear infinite;
}
.launch-time::after {
  content: "";
  position: absolute;
  background: #000;
  border-radius: 16px;
  inset: 4px;
}
.launch-time .box {
  display: flex;
  background: transparent;
  width: 400px;
  height: 100px;
  color: #fff;
  z-index: 10;
  border-radius: 20px;
}
.launch-time div {
  color: #fff;
  flex-basis: 100px;
}
.launch-time div #days {
  position: absolute;
  left: 21px;
  top: -10px;
}
.launch-time div #hours {
  position: absolute;
  left: 128px;
  top: -10px;
}
.launch-time div #minutes {
  position: absolute;
  left: 234px;
  top: -10px;
}

.launch-time div #seconds {
  position: absolute;
  left: 349px;
  top: -10px;
}
.launch-time div p {
  font-size: 60px;
  margin-bottom: -5px;
}
.launch-time .box div span {
  position: relative;
  top: 90px;
  left: 24px;
  font-size: 20px;
  z-index: 10;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}
.launch-time .box div .dis1 {
  position: absolute;
}
.launch-time .box div .dis2 {
  position: absolute;
  left: 129px;
}
.launch-time .box div .dis3 {
  position: absolute;
  left: 232px;
}
.launch-time .box div .dis4 {
  position: absolute;
  left: 348px;
}

.container {
  width: 80%;
  margin: 94px auto;
}

.contact-box {
  background: #fff;
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
 h1 {
  margin-bottom: 10px;
}
 .container p {
  margin-bottom: 40px;
  font-weight: 540;
}
 .input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
 .input-row .input-group {
  flex-basis: 45%;
}
 input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

 textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
 label {
  margin-bottom: 8px;
  display: block;
  color: #1c00b5;
}
 button {
  background-color: #1c00b5;
  color: #fff;
  width: 100px;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px #1c00b54d;
}

 .contact-left h3 {
  margin-bottom: 20px;
  color: #1c00b5;
  font-weight: 600;
}
 .contact-right h3 {
  margin-bottom: 20px;
  font-weight: 600;
}
 .contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: #1c00b5;
  color: #fff;
}
 table {
  width: 50%;
}
tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 20px;
}


@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .menu {
    position: fixed;
    width: 100%;
    background: #031d36;
    padding: 0px 0px;
    z-index: 10;
  }
  .menu ul li {
    list-style: none;
    margin: 0 10px;
    display: inline;
    transition: 0.5s;
  }
  .menu ul li a {
    color: #fff;
    font-size: 0.6em;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 4px;
    font-weight: 700;
    display: inline-block;
    transition: 0.5s;
  }
  .menu ul li:hover a {
    border-bottom: 2px solid#e91e63;
  }

  .menu ul li a.active {
    border-bottom: 2px solid#e91e63;
  }

  .section1 {
    background-image: url(/images/clgPicForphone.jpg);
    background-size: 346% 100%;
    background-repeat: no-repeat;
    background-position: -523px;
  }

  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    font-size: 1.5em;
  }

  .event-title h1 {
    margin-top: 15px;
    font-size: 0.5em;
    font-family: cursive;
  }

  
  .logo {
    position: relative;
    width: 251px;
    height: 83px;
    border-radius: 70%;
    background-color: transparent;
    top: 89px;
    left: 353px;
    background-image: url(/images/logo.png);
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position: 35px;
    z-index: 1;
  }
.content h1 {
    padding: 11px;
    font-size: 66px;
    font-weight: 457px;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    margin-left: -90px;
    margin-top: 18px;
}
.marq{
  margin-top: 38px;
}
.launch-time {
	position: absolute;
	left: -92px;
	top: 451px;
	width: 450px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 20px;
}
.section2 .content {
	position: absolute;
	top: 23%;
	left: 20%;
	transform: translateY(-50px);
	color: #fff;
	font-family: "Times New Roman", Times, serif;
}
.content h1 {
	padding: 0px;
	font-size: 61px;
	font-weight: 600;
	color: #fff;
	font-family: "Times New Roman", Times, serif;
	margin-left: -93px;
	margin-top: 29px;
}
.college-name h3 {
	color: #fff;
	margin-left: -41px;
}
.section5 .container h1 {
  font-size: 25px;
}
.section5 .container p {
  margin-bottom: 40px;
  font-weight: 540;
  font-size: 10px;
}
.section5 .contact-box {
  background: #fff;
  display: flex;
  flex-direction: column;
}
.section5 .contact-left {
  flex-basis: 60%;
  padding: 15px 0px;
}
.section5 .contact-left h3 {
  margin-bottom: 20px;
  color: #1c00b5;
  font-size: 23px;
  font-weight: 600;
}
.contact-right {
	flex-basis: 40%;
	padding: 40px;
	background-color: #1c00b5;
	color: #fff;
	font-size: 18px !important;
}

}
