* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.menu {
  position: fixed;
  width: 100%;
  background: #031d36;
  padding: 20px 0;
  z-index: 10;
}

.menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  display: inline;
  transition: 0.5s;
}

.menu ul li a {
  color: #fff;
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  font-weight: 700;
  display: inline-block;
  transition: 0.5s;
}

.menu ul li a.active {
  border-bottom: 1px solid#e91e63;
}

.menu ul li:hover a {
  border-bottom: 1px solid#e91e63;
  cursor: pointer;
}

.section1,
.section2,
.section3,
.section4 {
  min-height: 100vh;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #e91e63;
}

.section1 {
  background-image: url(/images/college-image.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section {
  position: relative;
  overflow: hidden;
}

.section1 .events {
  position: absolute;
  height: 100px;
  width: 80%;
  background: #3b0000;
  border-radius: 40px 40px 0px 0px;
  top: 90%;
  left: 10%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 32px;
}

.section1 .events h3 {
  margin-top: 20px;
}

.section1 h1 {
  font-family: cursive;
  color: #fff;
  font-size: 30px;
  /* margin-top: 15px; */
}

.section1 h1 span {
  color: #fff;
  font-size: 50px;
}





.college-name {
  margin-top: -12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110%;
  height: 200px;
  font-size: 16px;
  background-color: #031d36;
  opacity: 0.9;
}

.college-name h1 span {
  text-transform: uppercase;
  margin-left: 0px;
}

.college-name h1 {
  font-size: 25px;
  margin-left: -110px;
  margin-top: -20px;
  font-family: sans-serif;
}

.college-name h2 {
  background: #ff00009a;
  color: #fff;
  font-size: 16px;
  padding: 5px 5px;
  margin-left: -105px;
  border: 1px solid #3b0000;
}
/* 
.college-name h3 {
  color: #fff;
  margin-left: -100px;
}

.college-name h3 span {
  margin-left: 55px;
  font-size: 17px;
} */
.section3 .event-viewer {
	background: #fcfafa;
	position: absolute;
	width: 95%;
	height: 39%;
	left: 3%;
	top: 36%;
	overflow: hidden;
}
.section2 {
  background-color: #000;
}

.section2 .tech {
  position: absolute;
  height: 100px;
  width: 80%;
  background: #3b0000;
  border-radius: 40px 40px 0px 0px;
  top: 90%;
  left: 10%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 32px;
}

.section2 h3 {
  margin-top: 20px;
  font-size: 32;
}

.section2 .content {
  position: absolute;
  top: 25%;
  left: 24%;
  transform: translateY(-50px);
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

.section2 .event-title {
  position: absolute;
  height: 100px;
  width: 80%;
  background: #3b0000;
  border-radius: 40px 40px 0px 0px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  top: 225%;
  left: 0px;
}

.section2 .event-title h1 {
  font-size: 22px;
  margin-left: 2%;
  margin-top: 5%;
}

.section4 .contact {
  position: absolute;
  height: 100px;
  width: 80%;
  background: #3b0000;
  border-radius: 40px 40px 0px 0px;
  top: 90%;
  left: 10%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 32px;
}

.section4 h3 {
  margin-top: 20px;
  font-size: 32;
}

/* .content h1 {
  padding: 10px;
  font-size: 64px;
  font-weight: 600;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  margin-left: -90px;
  margin-top: 60px;
} */
.content p {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}
.content h1 span {
  color: #ff3753;
  font-family: "Lora", serif;
}
/* 
.launch-time {
  position: absolute;
  left: 90px;
  top: 290px;
  width: 450px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.launch-time::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 640px;
  background: #17f017;
  animation: animate 3s linear infinite;
}
.launch-time::after {
  content: "";
  position: absolute;
  background: #000;
  border-radius: 16px;
  inset: 4px;
}
.launch-time .box {
  display: flex;
  background: transparent;
  width: 400px;
  height: 100px;
  color: #fff;
  z-index: 10;
  border-radius: 20px;
}
.launch-time div {
  color: #fff;
  flex-basis: 100px;
}
.launch-time div #days {
  position: absolute;
  left: 21px;
  top: -10px;
}
.launch-time div #hours {
  position: absolute;
  left: 128px;
  top: -10px;
}
.launch-time div #minutes {
  position: absolute;
  left: 234px;
  top: -10px;
}

.launch-time div #seconds {
  position: absolute;
  left: 349px;
  top: -10px;
}
.launch-time div p {
  font-size: 60px;
  margin-bottom: -5px;
}
.launch-time .box div span {
  position: relative;
  top: 90px;
  left: 24px;
  font-size: 20px;
  z-index: 10;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}
.launch-time .box div .dis1 {
  position: absolute;
}
.launch-time .box div .dis2 {
  position: absolute;
  left: 129px;
}
.launch-time .box div .dis3 {
  position: absolute;
  left: 232px;
}
.launch-time .box div .dis4 {
  position: absolute;
  left: 348px;
} */

.container {
  width: 80%;
  margin: 94px auto;
}

.contact-box {
  background: #fff;
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
h1 {
  margin-bottom: 10px;
}
.container p {
  margin-bottom: 40px;
  font-weight: 540;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
label {
  margin-bottom: 8px;
  display: block;
  color: #1c00b5;
}
button {
  background-color: #1c00b5;
  color: #fff;
  width: 100px;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px #1c00b54d;
}

.contact-left h3 {
  margin-bottom: 20px;
  color: #1c00b5;
  font-weight: 600;
}
.contact-right h3 {
  margin-bottom: 20px;
  font-weight: 600;
}
.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: #1c00b5;
  color: #fff;
}
table {
  width: 50%;
}
tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 20px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}
#tech {
	/* background-color: black; */
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .menu {
    position: fixed;
    width: 100%;
    background: #031d36;
    padding: 0px 0px;
    z-index: 10;
  }
  .menu ul li {
    list-style: none;
    margin: 0 10px;
    display: inline;
    transition: 0.5s;
  }
  .menu ul li a {
    color: #fff;
    font-size: 0.6em;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 4px;
    font-weight: 700;
    display: inline-block;
    transition: 0.5s;
  }
  .menu ul li:hover a {
    border-bottom: 2px solid#e91e63;
  }

  .menu ul li a.active {
    border-bottom: 2px solid#e91e63;
  }

  .section1 {
    background-image: url(/images/college-image.jpg);
    background-size: 346% 100%;
    background-repeat: no-repeat;
    background-position: -523px;
  }

  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    font-size: 1.5em;
  }

  .event-title h1 {
    margin-top: 15px;
    font-size: 0.5em;
    font-family: cursive;
  }
}

.section3 ul {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  text-decoration: none;
  width: 100%;
  justify-content: space-evenly;
}

.section3 ul li {
  list-style: none;
}

.section3 ul li span {
  font-size: 14px;
  background: #000;
  padding: 4px 4px;
  opacity: 0.8;
  position: absolute;
  left: 190px;
  top: 150px;
  display: none;
}

.section3 ul li img {
  width: 100px;
  height: 110px;
  transition: 0.6s;
  cursor: pointer;
}

.section3 ul li .img1 {
  background: #fff;
  border-radius: 50%;
  height: 100px;
}

.section3 ul li .img2 {
  background: #fff;
  border-radius: 50%;
  height: 100px;
}

.section3 ul li .img3 {
  background: #fff;
  border-radius: 50%;
  height: 100px;
}

.section3 ul li .img4 {
  background: #fff;
  border-radius: 50%;
  height: 100px;
}

.section3 ul li img:hover {
  width: 120px;
  height: 120px;
  margin-left: -10px;
  margin-top: -11px;
}

.section3 ul .box1 {
  background: #000;
  width: 100px;
  height: 100px;
  /* position: absolute; */
  left: 338px;
  top: 96px;
  padding: 20px;
  border-radius: 50%;
}

.section3 ul .box1 h4 {
  margin-left: -8px;
}
.section3 ul .box2 h4 {
  margin-left: -15px;
}
.section3 ul .box3 h4 {
  margin-left: -2px;
}
.section3 ul .box3 h4 {
  margin-left: -2px;
}

.section3 ul li h4 {
  font-size: 16px;
  position: absolute;
  top: 200px;
  background: #000;
  padding: 10px 10px;
  margin-left: -12px;
  border-radius: 10px;
  color: #fff;
}

.section3 ul .image-box {
  width: 100px;
  height: 110px;
  border-radius: 50pc;
}

.section3 ul .box2 {
  /* position: absolute; */
  background: #757474;
  padding: 20px;
  width: 100px;
  height: 100px;
  left: 85%;
  border-radius: 50%;
}

.section3 ul .box3 {
  background: #000;
  padding: 20px;
  width: 100px;
  height: 100px;
  /* position: absolute; */
  border-radius: 50%;
}

.section3 ul .box4 {
  /* position: absolute; */
  left: 85%;
  top: 48.7%;
  background: #684040;
  padding: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.section3 img {
  width: 200px;
  height: 220px;
}

.section3 .non-tech {
  position: absolute;
  height: 100px;
  width: 80%;
  background: #3b0000;
  border-radius: 40px 40px 0px 0px;
  top: 90%;
  left: 10%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 32px;
}

.section3 h3 {
  margin-top: 20px;
  font-size: 32;
}



.section3 .event-viewer .event-roller {
  position: absolute;
  width: 400%;
  height: 100px;
  background: #3b0000;
  margin-top: 15%;
  left: -0px;
  transition: 0.9s;
}

.section3 .event-roller .event-details1 {
  position: absolute;
  width: 884px;
  height: 300px;
  background: #000;
  top: -114px;
  left: 27px;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}

.section3 .event-roller .event-details2 {
  position: absolute;
  width: 885px;
  height: 300px;
  background: #ca2929;
  top: -114px;
  left: 947px;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}

.section3 .event-roller .event-details3 {
  position: absolute;
  width: 885px;
  height: 300px;
  background: #414bc9;
  top: -114px;
  left: 1864px;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}

.section3 .event-roller .event-details4 {
  position: absolute;
  width: 885px;
  height: 300px;
  background: #684040;
  top: -114px;
  left: 2784px;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}
.section3 .event-roller h5 {
  color: #fff;
  font-size: 25px;
  padding: 20px 30px;
  width: 200px;
  margin-left: 10px;
  border-bottom: 2px solid;
}

.section3 .event-roller a {
  position: absolute;
  font-size: 15px;
  background: #111;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #ddd;
  top: 82%;
  left: 85%;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 5px #464545;
}
.section3 .event-roller a:hover {
  padding: 12px 12px;
}

.section3 .event-roller p {
  font-size: 16px;
  text-transform: capitalize;
  font-family: sans-serif;
  width: 80%;
  color: #fff;
  padding: 19px 74px;
  border-bottom: 2px solid;
  margin-left: 40px;
}

.section3 .event-viewer .event-roller b {
  position: absolute;
  top: 82%;
  left: 50%;
}

.section3 .event-roller i {
  color: #f34b4b;
}

.section3 .event-roller .event-details2 i {
  color: #000;
  font-weight: 800;
}

.section3 .event-roller .event-details3 i {
  color: #000;
  font-weight: 800;
}

.section3 .event-roller .event-details4 i {
  color: #000;
  font-weight: 800;
}

.event-viewer .event-roller .register {
  position: absolute;
  left: 20px;
  color: #000;
  background: #41b5c9;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .section3 ul .box1 {
    width: 30px;
    height: 30px;
  }

  .section3 ul .box2 {
    width: 30px;
    height: 30px;
  }

  .section3 ul .box3 {
    width: 30px;
    height: 30px;
  }

  .section3 ul .box4 {
    width: 30px;
    height: 30px;
  }

  .section3 ul .box1 .img1 {
    /* display: none; */
    width: 50px;
    height: 50px;
    margin-left: -10px;
    margin-top: -10px;
  }
  .section3 ul .box2 .img2 {
    /* display: none; */
    width: 50px;
    height: 50px;
    margin-left: -10px;
    margin-top: -10px;
  }
  .section3 ul .box3 .img3 {
    /* display: none; */
    width: 50px;
    height: 50px;
    margin-left: -10px;
    margin-top: -10px;
  }
  .section3 ul .box4 .img4 {
    /* display: none; */
    width: 50px;
    height: 50px;
    margin-left: -10px;
    margin-top: -10px;
  }

  .section3 ul .box1 h4 {
    margin-left: -20px;
    font-size: 8px;
    margin-top: -48px;
  }

  .section3 ul .box2 h4 {
    margin-left: -22px;
    margin-top: -48px;
    font-size: 8px;
  }
  .section3 ul .box3 h4 {
    margin-left: -16px;
    margin-top: -48px;
    font-size: 8px;
  }
  .section3 ul li h4 {
    font-size: 8px;
    position: absolute;
    top: 200px;
    background: #000;
    padding: 10px 10px;
    margin-left: -22px;
    margin-top: -48px;
    border-radius: 10px;
    color: #fff;
  }
  .section3 .event-viewer .event-roller {
    position: absolute;
    width: 1025%;
    height: 100px;
    background: #3b0000;
    margin-top: 29%;
    margin-left: 0px;
    left: 0px;
    transition: 0.3s;
  }
  .section3 .event-viewer {
    background: #000;
    position: absolute;
    width: 93%;
    height: 275px;
    left: 3%;
    top: 36%;
    overflow: hidden;
  }
  .section3 .event-roller h5 {
    color: #fff;
    font-size: 12px;
    padding: 9px 5px;
    width: 77px;
    margin-left: 10px;
    border-bottom: 2px solid;
  }
  .section3 .event-roller p {
    font-size: 10px;
    text-transform: capitalize;
    font-family: sans-serif;
    width: 79%;
    color: #fff;
    padding: 15px 0px;
    border-bottom: 1px solid;
    margin-left: 30px;
  }
  .event-viewer .event-roller .register {
    position: absolute;
    left: 20px;
    color: #000;
    font-size: 8px;
    background: #41b5c9;
  }
  .section3 .event-roller a {
    position: absolute;
    font-size: 8px;
    background: #111;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #ddd;
    top: 82%;
    left: 72%;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 5px #464545;
  }
  .section3 .event-viewer .event-roller b {
    position: absolute;
    top: 86%;
    font-size: 6px;
    left: 32%;
  }
  /* .section3 .event-roller .event-details1 {
    position: absolute;
    width: 283px;
    height: 261px;
    background: #240b0b;
    top: -80px;
    left: 15px;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
  } */
  .section3 .event-roller .event-details2 {
    position: absolute;
    width: 422px;
    height: 263px;
    background: #240b0b;
    top: -104px;
    left: 934px;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
  }
  .section3 .event-roller .event-details3 {
    position: absolute;
    width: 422px;
    height: 267px;
    background: #240b0b;
    top: -93px;
    left: 1850px;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
  }
  .section3 .event-roller .event-details4 {
    position: absolute;
    width: 422px;
    height: 303px;
    background: #240b0b;
    top: -101px;
    left: 2774px;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
  }
  .section3 h3 {
    margin-top: 20px;
    font-size: 21px;
  }
  .section3 .event-viewer {
    background: #000;
    position: absolute;
    width: 95%;
    height: 39%;
    left: 3%;
    top: 36%;
    overflow: hidden;
}
.section3 .event-roller .event-details1 {
	position: absolute;
	width: 422px;
	height: 274px;
	background: #240b0b;
	top: -94px;
	left: 19px;
	z-index: 1;
	border-radius: 10px;
	overflow: hidden;
}
}